.direnv
.cache
CMakeCache.txt
CMakeFiles
_deps
cmake_install.cmake
compile_commands.json
Makefile
compile_commands.json
vgcore.*
CPackSourceConfig.cmake
CPackConfig.cmake
CTestTestfile.cmake
.vscode
build
.clangd
hlmrl
libhlmrl_lib.a
hlmrl_test
map_creator
